
<div class="">
    <div class="">
        <div class="row g-0">
            <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex z-1 position-relative">
                <div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"
                 style="background-image: url(assets/images/gallery/cover-signup-bg.png);"></div>
                <div class="cover-content position-absolute text-center top-50 start-50 translate-middle">
                   <p class="text-white mb-3">Quis autem vel eum iure reprehenderit qui in ea voluptate.</p>
                   <h1 class="text-white mb-3">Welcome Back</h1>
                   <p class="text-white mb-4">But in certain circumstances and owing to the claims of duty or the obligations of business
                     it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                     <button mat-raised-button class="px-5 py-4 text-uppercase">Get Started</button>
                </div>
            </div>
            <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center z-1">
                <mat-card class="shadow-none mb-0 rounded-0">
                    <mat-card-content class="p-5">
                      <div class="text-center">
                          <img src="https://static-00.iconduck.com/assets.00/angular-icon-1931x2048-bef1f3lm.png" class="mb-3" width="55" alt="">
                          <h4 class="mb-2">User Sign Up</h4>
                          <p class="mb-4">Please fill the below details to create your account</p>
                       </div>
                        <div class="row g-3">
                           <div class="col-12 col-md-12">
                              <mat-form-field class="w-100" appearance="fill">
                                  <mat-label>Username</mat-label>
                                  <input matInput placeholder="Ex. @jhon">
                                </mat-form-field>
                            </div> 
                            <div class="col-12 col-md-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Ex. xyz@.com">
                                  </mat-form-field>
                            </div>  
                            <div class="col-12 col-md-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Ex. @#45gh">
                                  </mat-form-field>
                            </div>  
      
                            <div class="col-12 col-md-12">
                              <mat-form-field appearance="fill" class="w-100">
                                  <mat-label>Country</mat-label>
                                  <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                          </div>
      
                            <div class="col-12 col-md-12">
                              <div class="d-flex align-items-center justify-content-between">
                                  <mat-checkbox class="example-margin">I read and agree to Terms & Conditions</mat-checkbox>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="d-grid">
                                    <button mat-flat-button color="primary" class="px-4">Sign Up</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                              <div class="text-center">
                                  <p>Already have an account? <a routerLink="../sign-in" style="cursor: pointer; color: #1414f8;">Sign in here</a></p>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                              <div class="login-separater text-center"> <span>OR SIGN UP WITH</span>
                                <hr>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="social-login flex-row d-flex align-items-center justify-content-center gap-3">
                                    <!-- <button mat-stroked-button class="bg-facebook flex-fill">
                                        <mat-icon class="text-white mx-0"><i class='bx bxl-facebook-circle fs-4'></i></mat-icon>
                                    </button> -->
                                    <button mat-stroked-button class="mat-bg-dark flex-fill">
                                        <mat-icon class="text-white mx-0"><i class='bx bxl-apple fs-4'></i></mat-icon>
                                    </button>
                                    <button mat-stroked-button class="bg-linkedin flex-fill">
                                        <mat-icon class="text-white mx-0"><i class='bx bxl-linkedin-square fs-4'></i></mat-icon>
                                    </button>
                                    <button mat-stroked-button class="bg-google flex-fill">
                                        <mat-icon class="text-white mx-0"><i class='bx bxl-google fs-4'></i></mat-icon>
                                    </button>
                                </div>
                            </div>
          
                        </div><!--end row-->
          
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
        <!--end row-->
    </div>
</div>




















