@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette((
 50: #f3f5f0,
 100: #e0e5d8,
 200: #cbd3bb,
 300: #b4c09a,
 400: #99ab7e,
 500: #3e5720,
 600: #1f281a,
 700: #1b2217,
 800: #161b13,
 900: #11160f,
 A100: #e0e5d8,
 A200: #cbd3bb,
 A400: #99ab7e,
 A700: #1b2217,
 contrast: (
   50: rgba(0, 0, 0, 0.87),
   100: rgba(0, 0, 0, 0.87),
   200: rgba(0, 0, 0, 0.87),
   300: rgba(0, 0, 0, 0.87),
   400: rgba(0, 0, 0, 0.87),
   500: #ffffff,
   600: #ffffff,
   700: #ffffff,
   800: #ffffff,
   900: #ffffff,
   A100: rgba(0, 0, 0, 0.87),
   A200: rgba(0, 0, 0, 0.87),
   A400: rgba(0, 0, 0, 0.87),
   A700: #ffffff,
 ),
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: mat.define-palette(mat.$pink-palette),
   warning: mat.define-palette(mat.$orange-palette),
 ),
 
));
 
// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: mat.define-palette(mat.$pink-palette),
   warning: mat.define-palette(mat.$orange-palette),
 ),
));

.dark_mode {

  // Apply the dark theme
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
}

// Apply the light theme only when the user prefers light themes.
.light_mode {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.all-component-themes($light-theme);

}

// "node_modules/@angular/material/prebuilt-themes/indigo-pink.css",


