<div
  class="d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4"
>
  <div>
    <h3 class="mb-2">Animais</h3>
    <p class="mb-1">Listagem de cavalos</p>
  </div>
  <button mat-flat-button color="primary" (click)="criarResenha()">
    <mat-icon class="material-icon-outlined"> add </mat-icon>
    CADASTRAR NOVA RESENHA
  </button>
</div>

<hr />

@if (listagemCavalos.length === 0) {
<mat-card class="rounded-4">
  <div
    class="d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4"
  >
    <mat-card-header>
      <mat-card-title class="pb-3">NENHUM CAVALO CADASTRO</mat-card-title>
    </mat-card-header>
  </div>
</mat-card>
} @for (item of listagemCavalos; track item.id) {
<mat-card class="rounded-4">
  <div
    class="d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4"
  >
    <mat-card-header>
      <div mat-card-avatar class="card-avatar1"></div>
      <mat-card-title>{{ item.name }} - {{ item.baia }}</mat-card-title>
      <mat-card-subtitle class="pt-2"
        >Espécie: {{ item.kind }}</mat-card-subtitle
      >
    </mat-card-header>
    <div class="card-lable mat-light-bg-green">
      <p class="text-green">disponivel</p>
    </div>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        class="mx-2"
        (click)="verProntuario(item.id)"
      >
        Prontuário
      </a>
      <button
        mat-icon-button
        matTooltip="Visualizar Resenha"
        class="mx-2"
        color="primary"
        aria-label="Visualizar Resenha"
        (click)="verResenha(item.id)"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Editar Resenha"
        color="warn"
        class="mx-2"
        (click)="editarResenha(item.id)"
      >
        <mat-icon>rebase_edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Excluir Registro"
        color="warn"
        class="mx-2"
        aria-label="Excluir Registro"
        (click)="deletarCavalo(item.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Observações</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        AQUI VAI VIM A DESCRIÇÃO DO CAVALO QUE FOI PREENCHIDA NA HORA DA RESENHA
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
}
