<h2 mat-dialog-title>Status</h2>
<mat-dialog-content style="width: 600px">
  <p class="mb-3">Informações sobre disponibilidade dos cavalos</p>

  <div class="row">
    <form [formGroup]="formStatus">
      <div class="col-12">
        <mat-radio-group formControlName="status">
          <mat-radio-button value="apto">Apto</mat-radio-button>
          <mat-radio-button value="outro">Externo/Outro</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-12 mt-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="statusDescripition" />
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Fechar</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    [mat-dialog-close]="formStatus.value"
  >
    Salvar
  </button>
</mat-dialog-actions>
