<div style="width: 550px">
  <mat-dialog-content>
    <p>Observações sobre o atendimento</p>
    <div class="mt-4">
      <form [formGroup]="prescription">
        <mat-form-field style="width: 500px">
          <mat-label>Observação</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Fechar</button>
    <button mat-button cdkFocusInitial [mat-dialog-close]="prescription.value">
      Salvar
    </button>
  </mat-dialog-actions>
</div>
