<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"
	style="background-image: url(assets/images/gallery/forgot-password.png);">
</div>


<div class="auth-box d-flex align-items-center justify-content-center my-5 my-lg-0">
 <div class="container-fluid">
	<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
		<div class="col mx-auto">
			<mat-card class="rounded-4 m-2">
				<mat-card-content class="p-5">
					<div class="text-center">
						<img src="https://static-00.iconduck.com/assets.00/angular-icon-1931x2048-bef1f3lm.png"
							class="mb-3" width="55" alt="">
						<h4 class="mb-2">Forgot Password?</h4>
						<p class="mb-4">Enter your registered email ID to reset the password</p>
					</div>
					<div class="row g-3">
						<div class="col-12 col-md-12">
							<mat-form-field class="w-100 mb-0" appearance="outline">
								<mat-label>Enter Email</mat-label>
								<input matInput placeholder="Ex. xyz@.com">
							</mat-form-field>
						</div>
					
						<div class="col-12 col-md-12">
							<div class="d-grid gap-2">
								<button mat-flat-button color="primary">Send</button>
								<button mat-stroked-button color="basic" routerLink="../sign-in">Back To Login</button>
							</div>
						</div>
					
					</div><!--end row-->
				</mat-card-content>
			</mat-card>
		</div>
	</div>
 </div>
</div>