<div class="container pt-2">
  <mat-card class="rounded-4">
    <mat-card-content
      class="d-flex align-items-center justify-content-start p-4"
    >
      <!--  ? dadosCavalo.horse.photo_url : https://placehold.co/110x110 -->
      <img
        [src]="dadosCavalo.horse.photo_url"
        width="120"
        height="120"
        class="rounded-circle raised p-1 mat-bg-white mat-elevation-z8"
        alt=""
      />
      <div
        class="d-flex flex-column flex-lg-row align-items-start justify-content-start gap-4"
        style="margin-left: 25px"
      >
        <div class="">
          <h3 class="mb-2">{{ dadosCavalo.horse.name }}</h3>
          <p class="mb-1">
            <strong>Propriétario:</strong> {{ dadosCavalo.horse.owner }}
          </p>
          <p class="mb-1">
            <strong>Sexo:</strong> {{ dadosCavalo.horse.gender }},
            <strong>Peso:</strong> {{ dadosCavalo.horse.weight }},
            <strong>Pelagem:</strong> {{ dadosCavalo.horse.hair }}
          </p>
          <p class="mb-1">
            <strong>Data de Nascimento:</strong>
            {{ dadosCavalo.horse.birthday }}
          </p>
          <div
            class="d-flex align-items-center flex-column flex-lg-row gap-3 mt-3"
          >
            <button
              mat-stroked-button
              class="rounded-pill px-3"
              (click)="openDialogMedicamentos()"
            >
              Medicamentos
            </button>
            <button
              mat-stroked-button
              class="rounded-pill px-3"
              (click)="openDialogObservacao()"
            >
              Prescrição e Orientação
            </button>
            <button
              mat-stroked-button
              class="rounded-pill px-3"
              (click)="openDialogFotos()"
            >
              Fotos
            </button>
            <button
              mat-stroked-button
              class="rounded-pill px-3"
              (click)="openDialogAlta()"
            >
              Alta Clínica
            </button>
            <button
              mat-flat-button
              color="primary"
              class="rounded-pill px-3"
              (click)="botaoVoltar()"
            >
              Voltar
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="row reverse-cloumn">
    <div class="col-12 col-xl-8">
      <mat-card class="rounded-4">
        <mat-card-content
          class="d-flex align-items-center justify-content-between p-4"
        >
          @if (isData) {
          <div class="col-12 d-flex justify-content-center">
            <h3>Nenhum histórico disponível.</h3>
          </div>
          }
          <cdk-accordion class="example-accordion">
            @for (date of getDates(dadosCavalo.informations); track date; let
            index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index"
            >
              <div
                class="example-accordion-item-header"
                (click)="accordionItem.toggle()"
              >
                <h6>{{ date }}</h6>
                <span
                  class="example-accordion-item-description material-icons-outlined fs-4"
                >
                  {{
                    accordionItem.expanded
                      ? "keyboard_arrow_up"
                      : "keyboard_arrow_down"
                  }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index"
              >
                <div>
                  @for (item of dadosCavalo.informations[date]; track $index) {
                  <div class="mb-4">
                    @if (item.type === 'Medicamento') {
                    <h6>Medicamento:</h6>
                    {{ item.name }} - {{ item.doses }} ({{ item.hour }}) -
                    {{ item.description }}
                    <p class="mb-0 mt-2" style="font-size: small">
                      <strong>Preenchido por:</strong> {{ item.user }} -
                      <strong>CRM:</strong> {{ item.user_crm }}
                      <strong>|</strong>
                      {{ item.created_at }}
                    </p>
                    <hr />
                    } @else if (item.type === 'Prescrição') {
                    <h6>Prescrição e Orientação:</h6>
                    <p>{{ item.description }}</p>
                    <p class="mb-0 mt-2" style="font-size: small">
                      <strong>Preenchido por:</strong> {{ item.user }} -
                      <strong>CRM:</strong> {{ item.user_crm }}
                      <strong>|</strong>
                      {{ item.created_at }}
                    </p>
                    <hr />
                    } @else if (item.type === 'Fotos') {
                    <h6>Fotos da Evolução:</h6>
                    <p>{{ item.description }}</p>

                    <img [src]="item.photo_url" alt="" style="width: 90%" />

                    <p class="mb-0 mt-2" style="font-size: small">
                      <strong>Preenchido por:</strong> {{ item.user }} -
                      <strong>CRM:</strong> {{ item.user_crm }}
                      <strong>|</strong>
                      {{ item.created_at }}
                    </p>
                    <hr />
                    }
                  </div>
                  }
                </div>
              </div>
            </cdk-accordion-item>
            }
          </cdk-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-xl-4">
      <mat-card class="rounded-4 border-3 border-start border-green">
        <mat-card-content>
          <div class="d-flex align-items-center justify-content-start">
            <div class="">
              <h6 class="mb-0">Prontuario N: {{ dadosCavalo.code_number }}</h6>
              <p class="mb-0 mt-2" style="font-size: small">
                Aberto por: {{ dadosCavalo.user }} - CRM:
                {{ dadosCavalo.user_crm }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="rounded-4 border-3 border-start border-green">
        <mat-card-content>
          <div class="d-flex align-items-center justify-content-around">
            <div class="">
              <h6 class="mb-0">Entrada</h6>
              <p class="mb-0 mt-2">{{ dadosCavalo.created_at }}</p>
            </div>
            <div class="">
              <h6 class="mb-0">Alta Clínica</h6>
              <p class="mb-0 mt-2">-</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
