


.login-bg {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.auth-cover-left {
    display: flex;
    background-color: #f7f7ff !important;
    min-height: 100vh;
}

.auth-cover-right {
    display: flex;
    background-color: #ffffff !important;
    min-height: 100vh;
}

